<div class="container">
    <div class="card">
        <div class="card-header">
            <h1>List user</h1>
        </div>
        <div class="card-body">
            <% //_.each(users, function (users) { %>
            <!-- <a href="http://127.0.0.1:1337/chat?user_id=<%= //users.id %>"> -->
                <!-- <li><%= //users.username %></li> -->
            </a>
            <% }) %>
        </div>
    </div>
</div>